{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
    .codebox {
        width:50%;
        height:300px;
        overflow: auto;
    }
    body{
        width:800px;
    }
</style>{% endblock %}
{% block body %}
    <div>
        <table width="800px">
            <caption><a id="top"></a>{{ user }}</caption>
            <tr>
                <td valign="top">
                    {% for key,path in pathNamess %}
                        <div><a href="#{{ path }}" tite="Show files from {{ path }}">{{ path }}</a></div>
                    {% endfor %}
                </td>
                <td valign="top">
                    {% for key,path in pathNamess %}
                        <div><a href="#top">top</a> <a id="{{ path }}">{{ path }}</a></div>
                        <div class="codebox" id="codebox">{{ paths[key] | raw }}</div>
                    {% endfor %}</td>
            </tr>
</table>
</div>
{% endblock %}
